


.electronics-container {
  border-radius: 10px;
  box-shadow: 0 0 10px #00000036;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  transition: 0.3s ease-in-out;
}


.electronics-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  background-color: #11013a;
  color: #ffffff;
}

/* .electronics-header-container {
  
} */


.electronics-product-container {
  display: flex;
  gap: 30px 10px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}


.electronics-product-container div {
  width: 210px;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}